@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to Hotel Management</p>
    <h2><a href="/guests">Guest List</a></h2>
</div>
